# ignore environment variable files
.env
.env.local

# ignore Python cache files
__pycache__/

# ignore virtual environment directories
venv/

# ignore log files
*.log

# ignore test data and results
test_data/
test_results/